<script>
  var recognition = new webkitSpeechRecognition();
  var bad_speech = false;

  recognition.lang = "en";
   
  $(document).ready(function(){
    $('.js-micro').on('click', function(e){
      recognition.start();
      e.preventDefault();
    });
  });

  recognition.onresult = function (event) {
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        $('.js-input').val(event.results[i][0].transcript);
      }
    }

    bad_speech = false;
  };

  recognition.onstart = function() {
    console.log('recording');
    $('.js-micro').html('<span class="red"><i class="fa fa-circle"></i> Recording...</span>');
  };

  recognition.onend = function() {
    console.log('stoped');
    $('.js-micro').html('<i class="fa fa-microphone"></i> Use Voice Search');
    if (!bad_speech) {
      $('.ink-form').submit();
    }
  };
      
  recognition.onerror = function(event) {
    console.log('error');
    bad_speech = true;
  }

</script>
